h1 {
    font-size: medium;
    font-family:'Roboto', sans-serif;
    padding: 0 10px;
    margin: auto;
    font-weight: 100;
    text-decoration:none;
    color: #0b0432;
    background-color:#c82c2c;

}

h2 {
    font-size: medium;
    font-family:'Roboto', sans-serif ;
    padding: 0;
    margin: 0;
    font-weight: 100;
    color: #0b0432;
    background-color:#c82c2c;

}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    padding: 1%;
    margin: 0;
    color: #0b0432;
    background-color:hsl(0, 0%, 100%) ;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: #c82c2c;
    border-style: inset;
    border-radius: 25% 10%;
    height: 6em;
    width: 6rem;
}
